/* GENERAL */

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

body {
    @include sticky-footer;
}

/* STICKY-FOOTER */
.site-main {
    flex-grow: 1;
}